<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="APIuri" value="https://XXX.openai.azure.com/" />
		<add key="APIkey" value="XXXX" />
		<add key="engine" value="XXXX" />
		<add key="fromFolderName" value="xxxx" />
		<add key="temperature" value="0.1" />
		<add key="RemoveEmptyLines" value="true" />
		<add key="azureopenaimodelname" value="text-davinci-003" />
		<add key="maxinputTokens" value="2500" />
		<add key="maxoutputTokens" value="800" />
	</appSettings>
</configuration>